1. Create a categorical age_group variable using the following categories:
    a. 18-35: Young Adult
    b. 36-55: Middle Aged
    c. +56: Senior
2. Convert these heights to centimeters (cm) using the following conversion rate:
    a. 1 inch = 2,54 centimeters
    3. Convert these weights to kilograms (kg) using the following conversion rate:
    a. kg = Ibs * 0.45359237
4. Create a new variable, bmi by filling in the values of the final column's cells using the formula (rounded to one decimal place):
    a. BMI = Weight (kg) / (Height (m))*

* Import packages

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

* Complete first task

1. Create a categorical age_group variable using the following categories:
    a. 18-35: Young Adult
    b. 36-55: Middle Aged
    c. +56: Senior

In [9]:
%ls
participantDataFrame = pd.read_csv("../../handson_dataset.csv")
participantDataFrame.head()

848.52s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

data_preprocessing_exercise_ra.ipynb

   participant  age height  weight
0            1   32   5'11     175
1            2   55    5'5     132
2            3   62    5'9     195
3            4   18    5'3     120
4            5   23    6'1     180

1. Create a categorical age_group variable using the following categories:
    a. 18-35: Young Adult
    b. 36-55: Middle Aged
    c. +56: Senior

In [10]:
participantDfCategorized = participantDataFrame.copy()

ageBinList = [17, 35, 55, np.inf]  # 17 as lower bound to include 18+
ageLabelList = ["Young Adult", "Middle Aged", "Senior"]

participantDfCategorized["ageGroup"] = pd.cut(
    participantDfCategorized["age"],
    bins=ageBinList,
    labels=ageLabelList,
    right=True
)

print(participantDfCategorized.head())

   participant  age height  weight     ageGroup
0            1   32   5'11     175  Young Adult
1            2   55    5'5     132  Middle Aged
2            3   62    5'9     195       Senior
3            4   18    5'3     120  Young Adult
4            5   23    6'1     180  Young Adult

2. Convert these heights to centimeters (cm) using the following conversion rate:
    a. 1 inch = 2,54 centimeters

In [12]:
participantDfCm = participantDfCategorized.copy()
inchToCm = 2.54

def convertHeightToCm(heightStr):
    try:
        heightStr = heightStr.strip()
        feet, inches = heightStr.split("'")
        feet = int(feet)
        inches = int(inches.replace('"', '').strip()) if inches else 0
        totalInches = feet * 12 + inches
        totalCm = totalInches * 2.54
        return totalCm
    except:
        return np.nan

participantDfCm["heightCm"] = participantDfCm["height"].apply(convertHeightToCm)

print(participantDfCm.head())

   participant  age height  weight     ageGroup  heightCm
0            1   32   5'11     175  Young Adult    180.34
1            2   55    5'5     132  Middle Aged    165.10
2            3   62    5'9     195       Senior    175.26
3            4   18    5'3     120  Young Adult    160.02
4            5   23    6'1     180  Young Adult    185.42

3. Convert these weights to kilograms (kg) using the following conversion rate:
    a. kg = Ibs * 0.45359237

In [13]:
participantDfKg = participantDfCm.copy()
participantDfKg["weightKg"] = participantDfKg["weight"] * 0.45359237

print(participantDfKg.head())

   participant  age height  weight     ageGroup  heightCm   weightKg
0            1   32   5'11     175  Young Adult    180.34  79.378665
1            2   55    5'5     132  Middle Aged    165.10  59.874193
2            3   62    5'9     195       Senior    175.26  88.450512
3            4   18    5'3     120  Young Adult    160.02  54.431084
4            5   23    6'1     180  Young Adult    185.42  81.646627

4. Create a new variable, bmi by filling in the values of the final column's cells using the formula (rounded to one decimal place):
    a. BMI = Weight (kg) / (Height (m))^2

In [ ]:
participantDfBmi = participantDfKg.copy()

participantDfBmi["bmi"] = (participantDfBmi["weightKg"] / (participantDfBmi["heightCm"] / 100) ** 2).round(1)

# print(participantDfBmi.head())
print(participantDfBmi)

   participant  age height  weight     ageGroup  heightCm   weightKg   bmi
0            1   32   5'11     175  Young Adult    180.34  79.378665  24.4
1            2   55    5'5     132  Middle Aged    165.10  59.874193  22.0
2            3   62    5'9     195       Senior    175.26  88.450512  28.8
3            4   18    5'3     120  Young Adult    160.02  54.431084  21.3
4            5   23    6'1     180  Young Adult    185.42  81.646627  23.7